/* .section1 {
    height: 100vh;
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    display: none;    
} */





/* General styles for section and video */
.section1 {
    height: 100vh;  /* Full viewport height */
    width: 100vw;   /* Full viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative for better control */
}

video {
    position: absolute; /* Position the video to cover the section */
    height: 100%;       /* Make video cover the height of the container */
    width: 100%;        /* Make video cover the width of the container */
    object-fit: cover;  /* Ensures the video covers the whole section without distortion */
    display: none;      /* Initially hide all videos */
}

/* Styles specifically for smaller screens */
@media (max-width: 767px) { 
    video {
        object-fit: contain; /* Switch to contain for mobile to avoid cropping important content */
    }
}
